NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SANITY_PROJECT_ID=g6fc3waj
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-03-01
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333

SANITY_STUDIO_PROJECT_ID=g6fc3waj
SANITY_STUDIO_DATASET=production

SANITY_VIEWER_TOKEN=sknfbOfEWDlmwZ9jHJCaHc3wFHT0isXbSJI8pXSUqXKsdT87CW3FGnTAgFCMFz0t2MUfqtmVlDQLF9jpCCM6JEwMEnlTCTOtEt6Yfx2W2cO6r1NY7O36WPXewzXvBcCqXqOxzC35wLab7c3xzcS31nCR19Gify9hmPiFf8Qz8ZrwQXL8rXcX
SANITY_REVALIDATE_SECRET=c98d2cf0c9624c94ae9d546aa779f5413fedff784dfe4ef0bc2a9ac49d826cb3