NEXT_PUBLIC_SITE_URL=https://misterio-do-evangelho-web.vercel.app

NEXT_PUBLIC_SANITY_PROJECT_ID=g6fc3waj
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-03-01
NEXT_PUBLIC_SANITY_STUDIO_URL=https://me-editor-studio.vercel.app

SANITY_STUDIO_PROJECT_ID=g6fc3waj
SANITY_STUDIO_DATASET=production

SANITY_VIEWER_TOKEN=skBCnBTt98B7e2LisZubC4G29dovmUg6UWMAW5iDLzydNwZxmRJ5r7Ukh0JHzJZdgE32p1zAQkPwSpazEgrpDrgzJ9sv9FOGaFA5C8b6syl5qJQvIFidX4eaLTolI2IVvpdNpTA7iG2LmnP7ACevKI9lLIO8UlDLzBi5VU1jHEecoEUWAKAO
SANITY_REVALIDATE_SECRET=c98d2cf0c9624c94ae9d546aa779f5413fedff784dfe4ef0bc2a9ac49d826cb3
SANITY_WRITE_TOKEN=skH5aBl9P7CCrE7u14Ovn9ILMW0u5UkyO3crgAQSRHg0yT4KvfSe8XnKbUtwVyiQRWjpRY0ed0876hzEC7gboPV4001YCbARb8Ddaxt7opDvI6pkpoKRNbaSP5lyGDOvzmW8tKe8vi4eKUVMqpxtzNYOhtJOWmJYTvILmBLodN0FUfmVJF0u

RESEND_API_KEY=re_GgiKaAa3_3vXGcWU3L5u5g3vzKPKQgSL8
RESEND_FROM_EMAIL=newsletter@misteriodoevangelho.com.br
NEWSLETTER_CONFIRM_REDIRECT_BASE=https://misterio-do-evangelho-web.vercel.app