NEXT_PUBLIC_SITE_URL=https://misteriodoevangelho.com.br

NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-03-01
NEXT_PUBLIC_SANITY_STUDIO_URL=https://me-editor-studio.vercel.app

# --- SANITY CMS (Private/Server-side) OK ---
SANITY_STUDIO_PROJECT_ID=your_sanity_project_id
SANITY_STUDIO_DATASET=production

# --- SANITY CMS (Private/Server-side) OK ---
SANITY_VIEWER_TOKEN=your_sanity_viewer_token
SANITY_REVALIDATE_SECRET=your_sanity_revalidate_secret
SANITY_WRITE_TOKEN=your_sanity_write_token

# --- RESEND CMS (Private/Server-side) OK ---
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=newsletter@news.misteriodoevangelho.com.br
NEWSLETTER_CONFIRM_REDIRECT_BASE=https://misteriodoevangelho.com.br
RESEND_NEWSLETTER_SEGMENT_ID=your_resend_segment_id
NEWSLETTER_WEBHOOK_SECRET=your_newsletter_webhook_secret
