# =========================
# Dependencies
# =========================
node_modules/
.pnpm-store/


# =========================
# Next.js
# =========================
.next/
out/


# =========================
# Build / Output
# =========================
dist/
build/
coverage/
*.tsbuildinfo


# =========================
# Environment Variables
# =========================
.env
.env.local
.env.*
.env.development.local
.env.production.local
.env.test.local


# =========================
# Logs
# =========================
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*


# =========================
# Vercel
# =========================
.vercel


# =========================
# Sanity
# =========================
.sanity/


# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db


# =========================
# Editor / IDE
# =========================
.vscode/
.idea/